
[Desktop Entry]
Name=Canaima-control-inhibido
Exec=sudo canaima-control-inhibido
Icon=/usr/share/canaima-control-inhibido/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
Name[es_VE]=canaima-control-parental.desktop
